 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 841px;
  height: 992px;
  margin: -15px 37px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 992px;
  height: 841px;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 418px;
  background-image: url("images/20210215_103755.jpg");
  background-position: 50% 50%;
  margin: -839px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 472px;
  height: auto;
  margin: -354px 110px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 49px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -12px;
    margin-right: -28px;
  }

  .u-section-1 .u-shape-1 {
    width: 871px;
    height: 779px;
    margin: 60px 0 0 auto;
  }

  .u-section-1 .u-image-1 {
    width: 372px;
    height: 372px;
    margin-top: -856px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -312px;
    margin-right: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 728px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 660px;
    margin-top: 203px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-top: -803px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 548px;
  }

  .u-section-1 .u-shape-1 {
    height: 540px;
    margin-top: 230px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 386px;
    height: 386px;
    margin-top: -710px;
  }

  .u-section-1 .u-group-1 {
    min-height: 375px;
    margin-top: -51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 354px;
    height: 428px;
    margin-top: 302px;
    margin-right: -34px;
  }

  .u-section-1 .u-shape-1 {
    height: 354px;
    width: 428px;
    margin-top: 302px;
    margin-left: -39px;
    margin-right: -39px;
  }

  .u-section-1 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-top: -719px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 341px;
    width: 340px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 80px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-2 .u-image-1 {
  width: 468px;
  height: 468px;
  background-image: url("images/cxc.jpg");
  background-position: 50% 50%;
  margin: 270px auto 0;
}

.u-section-2 .u-list-1 {
  width: 581px;
  margin: -676px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  min-height: 242px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 20px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 405px;
    margin-right: 210px;
  }

  .u-section-2 .u-list-1 {
    width: 661px;
    margin-top: -847px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 493px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-2 .u-image-1 {
    width: 536px;
    height: 536px;
    margin-top: 325px;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -821px;
    margin-right: -130px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-2 .u-image-1 {
    width: 535px;
    height: 535px;
    margin-top: 475px;
    margin-right: 72px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -947px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 242px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-text-1 {
    width: 129px;
    margin-top: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 327px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: -768px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 410px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 862px;
}

.u-section-3 .u-image-1 {
  height: 553px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -303px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 567px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 15px;
}

.u-section-3 .u-icon-1 {
  width: 88px;
  height: 112px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 8px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 2px 0 1px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-3 .u-icon-2 {
  width: 88px;
  height: 112px;
  margin: 0 auto;
  padding: 8px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 2px 0 1px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 15px;
}

.u-section-3 .u-icon-3 {
  width: 88px;
  height: 112px;
  margin: 0 auto;
  padding: 8px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 2px 0 1px;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 15px;
}

.u-section-3 .u-icon-4 {
  width: 88px;
  height: 112px;
  margin: 0 auto;
  padding: 8px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 20px 2px 0 1px;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-size: 3.75rem;
  width: 268px;
  font-weight: 700;
  margin: -725px auto 92px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 975px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 275px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: -815px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1297px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-text-9 {
    margin-top: -1162px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1588px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-9 {
    margin-top: -1924px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1898px;
  }

  .u-section-3 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1572px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 15px 0 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 15px 0 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 15px 0 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 15px 0 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -1848px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 566px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 71px auto 0;
}

.u-section-4 .u-list-1 {
  width: 831px;
  margin: 25px auto 0 128px;
}

.u-section-4 .u-repeater-1 {
  min-height: 49px;
  grid-template-columns: calc(33.3333% - 153.333px) calc(33.3333% - 153.333px) calc(33.3333% - 153.333px);
  grid-gap: 230px 230px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-4 .u-container-layout-4 {
  padding: 8px 30px;
}

.u-section-4 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 259px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin-top: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 259px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-list-1 {
    margin-left: 110px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 46px;
    margin-left: -47px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 46px;
    margin-left: -47px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 46px;
    margin-left: -47px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 138px;
    grid-template-columns: calc(50% - 115px) calc(50% - 115px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-top: 56px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -49px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 513px;
    margin-top: -49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -411px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin: -322px 0 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin: -274px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -50px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -50px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 62px;
    margin-bottom: 21px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -531px;
    margin-right: -19px;
    margin-left: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -511px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -494px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 529px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-5 .u-text-1 {
  margin: 45px auto 0 45px;
}

.u-section-5 .u-text-2 {
  margin: 45px 45px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 30px auto 0 45px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 37px;
  height: 37px;
  margin: 3px auto 0 45px;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: -31px 45px 0 90px;
}

.u-section-5 .u-image-1 {
  min-height: 409px;
  background-image: url("images/195510dce22b2a58652e5090b348631f71e2f409861abacfa6cfb8450410f655acb3c5e1aa4dbaedfcb3242e8bb182d1aea47e8b3c230ba5c941a9_1280.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 4px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 40px;
    margin-left: 86px;
  }

  .u-section-5 .u-image-1 {
    min-height: 337px;
    background-position: 67.45% 50%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 4px;
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-5 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 45px;
    margin-left: 15px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 28px;
    margin-left: 33px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 6px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -31px;
    margin-right: -77px;
    margin-left: 78px;
  }

  .u-section-5 .u-image-1 {
    min-height: 366px;
  }
}